#images-container {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 130px);
  justify-content: space-between;
  gap: 0.5rem;
}

#images-container::after {
  content: "";
  flex: auto;
}

.image-metabox__item {
  margin: 0;
  padding: 0;
}
.image-metabox__item img {
  margin: 0;
  padding: 0;
  display: block;
}

.wp-core-ui .attachment-close,
.wp-core-ui .media-frame .attachment .describe {
  display: none;
}
